/* HEADER */
/* top */
header{
    position: fixed;
    width: 100%;
}

.ms_bg-color{
    background-color: black;
}

.ms_logo{
    width: 100px;
    line-height: 40px;
    padding-right: 1em;
}

/* bottom */
.ms_nav{
    line-height: 80px;
    background-color: white;
}

/* column left */
.ms_nav-logo img{
    height: 70px;

}

.ms_nav-icon i{
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: .2em .5em;
    font-size: 2em;
    color: gray;
}

.ms_list-nav ul{
    list-style: none;
    color: gray;
}

.ms_list-nav li{
    display: inline-block;
    padding-left: .7em;
}

.ms_list-nav a,
.ms_nav-search a,
.ms_nav-search i{
    text-decoration: none;
    color: gray;
}

/* column left */
.ms_nav-search button{
    border-radius: 50px;
    margin: 0 1em;
}

/* MAIN */
/* banner */
.ms_banner{
    
    color: white;
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
    padding-top: 15em;
}

.ms_banner img{
    width: 300px;
}

.ms_banner button{
    border-radius: 50px;
    margin: 1em 0 3em 0;
}

@media all and (min-width: 1100px) {
    .ms_banner{
        padding-left: 2em;
    }

    .section-2,
    .section-4{
        padding: 0 2em;
    }
}    

/* games */
.section-2{
    padding-top: 3em ;
    padding-bottom: 3em;
} 

.ms_games img{
    width: 100%;
    height: auto;
    border-radius: 20px;
}

/* playstation 5 */
/* text */
.section-3{
    padding: 3em 0;
}

.ms_text-play5 > p{
    color: #3f3ff2;
}

.ms_text-play5 h2{
    font-size: 3em;
    margin-bottom: 1em;
}

.ms_play5-paragraph{
    color: gray;
    font-size: 1.8em;
}

/* console */
.ms_text-play5 button{
    border-radius: 50px;
    margin: 1em 0;
}

.ms_play5 img{
    width: 100%;
}




