/* COMMON */
.ms_ads{
    color: white;
    background-size: cover;
    background-position: center;
}

.ms_ads button{
    border-radius: 50px;
    margin: 1em 0 3em 0;
}

/* HEADER */
/* top */
header{
    position: fixed;
    width: 100%;
    z-index: 999;
}

.ms_bg-color{
    background-color: black;
}

.ms_logo{
    width: 100px;
    line-height: 40px;
    padding-right: 1em;
}

/* bottom */
.ms_nav{
    line-height: 80px;
    background-color: white;
}

/* column left */
.ms_nav-logo img{
    height: 70px;

}

.ms_nav-icon i{
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: .2em .5em;
    font-size: 2em;
    color: gray;
}

.ms_list-nav ul{
    list-style: none;
    color: gray;
}

.ms_list-nav li{
    display: inline-block;
    padding-left: .7em;
}

.ms_list-nav a,
.ms_nav-search a,
.ms_nav-search i{
    text-decoration: none;
    color: gray;
}

/* column left */
.ms_nav-search button{
    border-radius: 50px;
    margin: 0 1em;
}

/* MAIN */
/* banner */
.ms_returnal{
    background-image: url("../img/jumbo-bg.png");
    padding-top: 15em;
}

.ms_returnal img{
    width: 300px;
}


/* games */
.section-2,
.section-5{
    padding-top: 3em;
    padding-bottom: 3em;
} 

.ms_games img{
    width: 100%;
    height: auto;
    border-radius: 20px;
}

/* playstation 5 */
/* text */
.section-3{
    padding: 3em 0;
}

.ms_text-play5 > p{
    color: #3f3ff2;
}

.ms_text-play5 h2{
    font-size: 3em;
    margin-bottom: 1em;
}

.ms_play5-paragraph{
    color: gray;
    font-size: 1.8em;
}

/* console */
.ms_text-play5 button{
    border-radius: 50px;
    margin: 1em 0;
}

.ms_play5 img{
    width: 100%;
}

/* accessories */
.section-5 img{
    width: 100%;
}

.section-5 p{
    margin-top: 1em;
    font-size: 1.5em;
}

/* ads */
.ms_ittakestwo{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
}

.ms_ittakestwo img{
    width: 200px;
    padding: 2em 0;
}





@media all and (min-width: 1100px) {
    .ms_banner,
    .ms_ads{
        padding-left: 2em;
    }

    .section-2,
    .section-4,
    .section-5{
        padding-left: 2em;
        padding-right: 2em;
    }

}    